<% provide(:title, "首页") %> 



<div class="center jumbotron">
 <h1>Welcome to the SHOP!</h1>

<%= link_to "注册", signup_path, class: "btn btn-lg btn-primary" %> 
</div>

<ul class="list-group">
   <li class="list-group-item list-group-item-success">餐厅介绍</li>
</ul>
<div class="row" align="center" >
    <div class="col-sm-4 col-md-4">
      <div class="center-block">
      <img src="assets/cc1.jpeg" alt="..." width="150" height="100";>
        <div class="caption">
            <h3 align="center"><big>生日聚会</big></h3>
        <p align="center">与小伙伴们举行party</p>
        <p align="center"><a href="/yuding" class="btn btn-primary" role="button">开始预订</a></p>
        </div>
      </div>
    </div>

    <div  align="center" class="col-sm-4 col-md-4">
      <div class="center-block">
       <img src="assets/cc2.jpeg" alt="..." width="150" height="100";>
        <div class="caption">
        <h3 align="center">家人聚会</h3>
        <p>与家人享受美味时刻</p>
        <p align="center"><a href="/yuding" class="btn btn-primary" role="button">开始预订</a></p>
       </div>
       </div>
    </div>
   
  <div class="col-sm-4 col-md-4">
    <div class="center-block">
      <img src="assets/cc3.jpeg" alt="..."width="150" height="100"; >
      <div class="caption">
        <h3 align="center">老友相聚</h3>
        <p align="center">老友时常相伴</p>
        <p align="center" ><a href="/yuding" class="btn btn-primary" role="button">开始预订</a></p>
      </div>
    </div>
    </div>