<p class="bg-success">A 区</p>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="assets/ct4.jpg" alt="...">
        <div class="caption">
          
          <h3>桌号1</h3>
          
          <p><a href="/yuding" class="btn btn-primary" role="button">预约</a> </p>
        </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="assets/ct5.jpg" alt="...">
        <div class="caption">
          <h3>桌号2</h3>
          
          <p><a href="/yuding" class="btn btn-primary" role="button">预约</a> </p>
        </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="assets/ct6.jpg" alt="...">
        <div class="caption">
          <h3>桌号3</h3>
          <p><a href="/yuding" class="btn btn-primary" role="button">预约</a> </p>
        </div>
    </div>
  </div>
</div>
<p class="bg-success">B 区</p>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="assets/ct7.jpg" alt="...">
        <div class="caption">
          <h3>桌号4</h3>
          <p><a href="/yuding" class="btn btn-primary" role="button">预约</a> </p>
        </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="assets/ct8.jpg" alt="...">
        <div class="caption">
          <h3>桌号5</h3>
          <p><a href="/yuding" class="btn btn-primary" role="button">预约</a> </p>
        </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="assets/ct9.jpg" alt="...">
        <div class="caption">
          <h3>桌号6</h3>
          
          <p><a href="/yuding" class="btn btn-primary" role="button">预约</a> </p>
        </div>
    </div>
  </div>
</div>